PORT=3000
JWT_SECRET=rahasia_negara_api
GEMINI_API_KEY=Paste_Key_Gemini_Disini
SPOONACULAR_API_KEY=Kunci_Spoonacular_Kamu
GOOGLE_CLIENT_ID=masukkan_client_id_google_disini
UNSPLASH_ACCESS_KEY=Paste_Access_Key_Unsplash_Disini